# npm
node_modules/
dist/*
!dist/favicon.ico
!dist/index.html
!dist/logo192.png
!dist/logo512.png
!dist/logoApple.png
!dist/logoMaskable.png
!dist/manifest.json
!dist/serviceWorker.js
.DS_Store

# vim
*.swp

# temp
_*.txt
