.page {
  height: 100vh;
}

.header {
  height: var(--header-height);
}

.main {
  position: relative;
  height: var(--main-height);
  color: var(--text-darker);
}

.footer {
  height: var(--footer-height);
}
