.page {
  height: 100vh;
}

.header {
  height: var(--header-height);
}

.main {
  position: relative;
  height: var(--main-height);
  background: #f8f8f8;
  color: #282828;
}

.footer {
  height: var(--footer-height);
}
