:root {
  --background: #808080;
  --border: #808080;
  --button: #484848;
  --dialog: #ffffff;
  --light: #e8e8e8;
  --shaded: #00000058;
  --lightened: #ffffff64;
  --textButton: #f8f8f8;
  --textLight: #404040;
}
