.main {
  height: inherit;
  background: #ffffc0;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(3em + 8px);
  padding: 8px 16px;
  margin-bottom: 2px;
  font-size: 1.3rem;
  white-space: pre;
  background: #888;
}

.dateTime {
  background: #ffffff20;
}
