.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 8px;
  background: var(--bg-dark);
  color: var(--text-light);
  font-size: 14px;
}

.updateButton {
  align-self: start;
  height: .8em;
  width: .8em;
  border-radius: 50%;
  margin: 0 .3em;
  background: var(--alert);
}

.version {
}
