.main {
  position: relative;
  min-height: 4em;
  padding: 8px;
  background: #484848;
  color: #e8e8e8;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  overflow: hidden;
}

.title {
  position: absolute;
  top: -10px;
  left: 70px;
  color: #ffffff18;
  font-size: 4.5em;
  white-space: nowrap;
  user-select: none;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  margin: 0 8px;
  background: #1090ff;
  font-size: 0.8em;
  user-select: none;
}

.link {
  font-size: 1.5em;
  margin: 0 8px;
  text-shadow: #0080ff80 0 0 8px;
  user-select: none;
}

.infoButton {
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  margin: 4px;
  background: #ffffffc0;
  color: #484848;
  font-size: 1.8em;
  user-select: none;
}
