.main {
  position: relative;
  height: inherit;
  padding: 8px;
  background: var(--bg-dark);
  color: var(--text-light);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 8px;
  background: var(--accent);
  font-size: 14px;
  user-select: none;
}

.link {
  font-size: 22px;
  margin: 0 8px;
  user-select: none;
}

.infoButton {
  height: 1.1em;
  width: 1.1em;
  border-radius: 50%;
  margin: 4px;
  background: var(--text-light);
  color: var(--bg-dark);
  font-size: 30px;
  user-select: none;
}
