@import './colors.css';
@import './fonts.css';
@import './reset.css';
@import './sizes.css';

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

.iconButton {
  border-radius: 50%;
  width: var(--size5);
  height: var(--size5);
  background: var(--button);
  fill: var(--textButton);
}
