@import './colors.css';
@import './fonts.css';
@import './reset.css';
@import './sizes.css';

:root {
  --header-height: 56px;
  --footer-height: 32px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --accent: #1090ff;
  --accent-light: #80d0ff;
  --alert: #ff4810;
  --border-dark: #707070;
  --bg-lighter: #f0f0f0;
  --bg-light: #e0e0e0;
  --bg-dark: #484848;
  --bg-touch: #ffffff30;
  --bg-until: #ffffff64;
  --text-light: #ffffffc0;
  --text-dark: #202020;
  --text-darker: #101010;
  --text-until: #404040;
  --bg-overlay: #00000090;
}

/*
body {
  --handleWidth: 50px;
  --noteHeight: calc(3.6em + 2 * var(--size1));

  font-family: var(--fontRegular);
  font-size: var(--fontSize);
  line-height: 1.2em;
}
*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

.touch {
  width: 100%;
  height: 100%;
}

.color0 {
  background: #fd9696;
}

.color1 {
  background: #ffb793;
}

.color2 {
  background: #fed17d;
}

.color3 {
  background: #e6fe94;
}

.color4 {
  background: #a7fc9a;
}

.color5 {
  background: #b8e1f1;
}

.color6 {
  background: #b9bbf0;
}

.color7 {
  background: #d7b8f0;
}

.color8 {
  background: #d9cebf;
}

.color9 {
  background: #e6e7cd;
}

.color10 {
  background: #e2e2e2;
}

.color11 {
  background: #c5c5c5;
}

.event0 {
  background: #8c8c8c;
}

.event1 {
  background: #f7b0b2;
}

.event2 {
  background: #f9d0a5;
}

.event3 {
  background: #9faec5;
}

.event4 {
  background: #c0b2d3;
}

.event5 {
  background: #d3c5dc;
}

.event6 {
  background: #c9c5d0;
}
