.main {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  background: white;
  color: #282828;
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
  border-right: 1px solid #989898;
}

.linkContainer {
}

.link {
  margin: 4px 8px;
  text-shadow: #0080ff80 0 0 8px;
}

.buttonContainer {
  padding-left: 8px;
  align-self: flex-end;
}

.button {
  height: 1.2em;
  width: 1.2em;
  color: #ffffffc0;
  border-radius: 50%;
  background: #484848;
  font-size: 1.5em;
  transform: rotate(45deg);
}
