.main {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  background: white;
  color: var(--text-darker);
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-radius: 0 0 2px 2px;
}

.linkContainer {
}

.link {
  margin: 4px 8px;
}

.buttonContainer {
  padding-left: 8px;
  align-self: flex-end;
}

.button {
  height: 1.1em;
  width: 1.1em;
  color: var(--text-light);
  border-radius: 50%;
  background: var(--bg-dark);
  font-size: 22px;
  transform: rotate(45deg);
}
