.main {
  height: inherit;
  background: var(--bg-light);
  font-size: 16px;
}

.noteEditor {
  font-size: 16px;
}

.textInput {
  height: calc(3em + 8px);
  padding: 4px;
  border: 1px solid var(--border);
  margin-top: 16px;
  margin-bottom: 8px;
}

.textInput:focus {
  border: 1px solid var(--accent);
  outline: none;
}

.note {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(3.5em + 8px);
  padding: 8px 16px;
  margin-bottom: 2px;
  white-space: pre-wrap;
  overflow: hidden;
}

.text {
  color: var(--text-darker);
}

.touch {
  position: absolute;
  right: 0px;
  height: 90%;
  width: 30px;
  margin-right: 12px;
  background: var(--bg-touch);
}

.start {
  opacity: 0.4;
}

.over {
  margin-top: 24px;
}
