.main {
  height: inherit;
  background: #ffffff;
}

.textInput {
  padding: 4px;
  border: 1px solid #e0e0e0;
  background: #f0f0f0;
}

.textInput:focus {
  border: 1px solid #1090ff;
  outline: none;
}

.note {
  display: flex;
  align-items: center;
  min-height: calc(3em + 8px);
  padding: 8px 16px;
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  font-size: 1.3em;
  white-space: pre;
}

.text {
}
