.main {
  height: inherit;
  background: #e0e0e0;
}

.textInput {
  height: calc(3em + 8px);
  padding: 4px;
  border: 1px solid #e0e0e0;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

.textInput:focus {
  border: 1px solid #1090ff;
  outline: none;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(3em + 8px);
  padding: 8px 16px;
  margin-bottom: 2px;
  font-size: 1.3rem;
  white-space: pre;
}

.text {
}

.touch {
  height: 90%;
  width: 40px;
  margin-right: 12px;
  background: #ffffff30;
}
