:root {
  --fontSize: 1rem;
  --fontSizeSmall: 0.9rem;
  --radius: 4px;
  --radiusLarge: 8px;
  --size0: 4px;
  --size1: 8px;
  --size2: 16px;
  --size3: 24px;
  --size4: 32px;
  --size5: 40px;
  --size6: 48px;
  --size7: 56px;
  --size8: 64px;
  --size9: 72px;
  --size10: 80px;

  --untilWidth: var(--size3);
  --eventHeight: calc(4.5rem + 2 * var(--size1));
}
