.redo {
  position: fixed;
  bottom: var(--size1);
  right: var(--size8);
  background: orange;
}

.page {
  height: 100vh;
  background: #484848;
}

.header {
  height: var(--header-height);
}

.main {
  position: relative;
  height: var(--main-height);
  color: var(--text-darker);
}

.footer {
  height: var(--footer-height);
}

.version {
  position: fixed;
  bottom: var(--size1);
  right: var(--size1);
  color: var(--textButton);
  font-size: var(--fontSizeSmall);
  text-shadow: 1px 1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, -1px -1px 1px #000000;
}
