.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background);
  overflow-y: scroll;
}

.header {
  height: var(--header-height);
}

.main {
  position: relative;
  height: var(--main-height);
  color: var(--text-darker);
}

.footer {
  height: var(--footer-height);
}

.version {
  position: fixed;
  bottom: var(--size1);
  right: var(--size1);
  color: var(--textButton);
  font-size: var(--fontSizeSmall);
  text-shadow: 1px 1px 3px #404040, 1px -1px 3px #404040, -1px 1px 3px #404040, -1px -1px 3px #404040;
}
