.page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--shaded);
  padding: var(--size4);
  z-index: 1;
}

.dialog {
  max-width: 450px;
  flex-grow: 1;
  padding: var(--size2);
  border-radius: var(--radiusLarge);
  background: var(--dialog);
}
