.main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: var(--bg-overlay);
}

.modal {
  padding: 8px;
  margin: 8px;
  background: white;
  border-radius: 2px;
}

.content {
  padding: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonContainer * {
  padding: 2px 4px;
  border: 1px solid var(--border);
  border-radius: 2px;
  margin-left: 4px;
  background: var(--bg-dark);
  color: var(--text-light);
  font-size: 1.2em;
  user-select: none;
}

.buttonContainer *:focus {
  padding: 2px 4px;
  border: 1px solid var(--accent);
  color: var(--accent-light);
}
