.content {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size1);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

.input + .input {
  margin-top: var(--size2);
}

.durations {
  display: flex;
  padding: var(--size1);
  border: 1px solid var(--border);
  margin-top: var(--size2);
}

.duration {
  flex-grow: 1;
  padding: var(--size1);
  text-align: center;
}

.duration + .duration {
  margin-left: var(--size1);
}

.selected {
  font-weight: bold;
}

.text {
  width: 100%;
  padding: var(--size1);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: transparent;
  margin-top: var(--size2);
  font-family: var(--fontFamily);
  font-size: 1em;
  overflow-y: scroll;
  resize: none;
}

.actionButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size2);
}

.button {
  padding: var(--size1);
  border-radius: var(--radius);
  margin-top: var(--size2);
  background: var(--button);
  color: var(--textButton);
}
