.appName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size2);
  color: var(--textButton);
}

.event {
  position: relative;
  height: var(--eventHeight);
  margin-top: var(--size0);
  overflow: hidden;
}

.untilText {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--eventHeight);
  height: var(--untilWidth);
  transform-origin: 100% 0%;
  transform: translateX(-100%) rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textLight);
  font-size: var(--fontSizeSmall);
}

.layout {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.until {
  width: var(--untilWidth);
  background: var(--lightened);
}

.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 3fr 4fr auto;
  grid-gap: var(--size1);
}

.when {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSizeSmall);
  text-align: center;
}

.time {
  display: flex;
}

.what {
  display: flex;
  align-items: center;
}

.text {
  white-space: pre-wrap;
}

.button {
  position: fixed;
  bottom: var(--size1);
  left: var(--size1);
  width: var(--size5);
  height: var(--size5);
  border-radius: 50%;
  background: var(--button);
  color: var(--textButton);
  font-size: var(--size4);
}

.colors {
  --hour: #f80;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--hour);
  z-index: 2;
}
