.appName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size2);
  color: var(--textButton);
}

.event {
  position: relative;
  height: var(--eventHeight);
  margin-top: var(--size0);
  overflow: hidden;
}

.untilText {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--eventHeight);
  height: var(--untilWidth);
  transform-origin: 100% 0%;
  transform: translateX(-100%) rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textLight);
  font-size: var(--fontSizeSmall);
}

.layout {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.until {
  width: var(--untilWidth);
  background: var(--lightened);
}

.content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 3fr 4fr auto;
  grid-gap: var(--size1);
}

.when {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontSizeSmall);
  text-align: center;
}

.time {
  display: flex;
}

.what {
  display: flex;
  align-items: center;
}

.text {
  white-space: pre-wrap;
}

.button {
  position: fixed;
  bottom: var(--size1);
  left: var(--size1);
  width: var(--size5);
  height: var(--size5);
  border-radius: 50%;
  background: var(--button);
  color: var(--textButton);
  font-size: var(--size4);
}

.colors {
  --hour: #ffe0d2;
  --day: #f9d0a5;
  --week: #abc5d3;
  --month: #9faec5;
  --year: #b7a4b9;
  --fiveYears: #c9c5d0;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
  var(--hour),
  var(--day) 20%,
  var(--week) 40%,
  var(--month) 60%,
  var(--year) 80%,
  var(--fiveYears));
  /*
  background: linear-gradient(
  var(--hour) 9.1%,
  var(--day) 18.2%, var(--day) 27.3%,
  var(--week) 36.4%, var(--week) 45.5%,
  var(--month) 54.6%, var(--month) 63.7%,
  var(--year) 72.8%, var(--year) 81.9%,
  var(--fiveYears) 91%, var(--fiveYears));
  */
  z-index: 2;
}
