.main {
  height: inherit;
  background: var(--bg-light);
  font-size: 16px;
}

.event {
  position: relative;
  --event-height: calc(4.5em + 8px);
  --until-width: 22px;
  display: flex;
  height: var(--event-height);
  margin-bottom: 2px;
  user-select: none;
}

.until {
  position: absolute;
  left: 0;
  width: var(--until-width);
  height: 100%;
  background: var(--bg-until);
}

.untilText {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--until-width);
  width: var(--event-height);
  transform-origin: 100% 0%;
  transform: translateX(-100%) rotate(-90deg);
  color: var(--text-until);
  font-size: 14px;
}

.eventContent {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 8px;
  width: 100%;
  padding: 8px;
  margin-left: var(--until-width);
}

.dateTimeBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateTime {
  color: var(--text-dark);
}

.dateText {
  font-size: 14px;
}

.timeText {
  margin-top: 0.2em;
  font-size: 13px;
}

.textBox {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text {
  color: var(--text-darker);
  white-space: pre-wrap;
}

.addButton {
  position: fixed;
  bottom: var(--size1);
  left: var(--size1);
  width: var(--size5);
  height: var(--size5);
  border-radius: 50%;
  background: var(--button);
  color: var(--textButton);
  font-size: var(--size4);
}
