.content {
  color: var(--text);
  font-size: 1rem;
  white-space: pre-wrap;
  overflow-y: auto;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: var(--size2);
  font-size: 1rem;
}

.button {
  padding: var(--size1) var(--size2);
  border-radius: var(--radius);
  background: var(--button);
  color: var(--textButton);
}

.button + .button {
  margin-left: var(--size1);
}
